In [80]:
from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.models import DatetimeTickFormatter
from datetime import datetime as dt

import pandas

In [28]:
#sampledata
x = [1,2,3,4,5,6]
y = [7,8,9,10,11,12]

#output file to same folder
output_file("test.html")

#instantiate figure object
f = figure()
f.line(x,y)

show(f)

In [60]:
#pulling in pandas

df = pandas.read_csv(r"assets/data.csv")
x = df["x"]
y = df["y"]

f_square.square(x,y, color = "red", alpha = .3, size = 20)

show(f_square)

In [62]:
bachdf = pandas.read_csv(r"assets/bachelors.csv")
year = bachdf["Year"]
engineering = bachdf["Engineering"]

In [63]:
bachf = figure()
bachf.line(year, engineering)

GlyphRenderer(id='4598', ...)

In [64]:
show(bachf)

In [91]:
#Weather data practice
weatherdf = pandas.read_excel(r"assets/verlegenhuken.xlsx")
weatherdf

       Year  Month  Day  Hour  Temperature  Pressure
0      2010     10    6     3          -30      9984
1      2010     10    6     9          -28      9992
2      2010     10    6    10          -24      9987
3      2010     10    6    11          -19      9987
4      2010     10    6    12          -19      9985
...     ...    ...  ...   ...          ...       ...
33097  2014     12   30     9         -116      9896
33098  2014     12   30    12         -103      9866
33099  2014     12   30    15          -97      9826
33100  2014     12   30    18          -93      9829
33101  2014     12   30    21          -86      9804

[33102 rows x 6 columns]

In [92]:
weatherdf["Date"] = weatherdf.apply(lambda row: dt(row['Year'], row['Month'], row['Day']), axis=1)

date = weatherdf["Date"]
temperature = weatherdf["Temperature"]
pressure = weatherdf["Pressure"]

weatherf = figure(plot_width=1000,plot_height=800, toolbar_location='below')
weatherf.title.text="Weather and Shit"
weatherf.title.text_color="Gray"
weatherf.title.text_font_style="bold"
weatherf.xaxis.axis_label="Date"
weatherf.yaxis.axis_label="Temperature" 

weatherf.line(date, temperature, color = "blue", alpha=.25)

GlyphRenderer(id='5665', ...)

In [93]:
show(weatherf)

In [94]:
weatherdf

       Year  Month  Day  Hour  Temperature  Pressure       Date
0      2010     10    6     3          -30      9984 2010-10-06
1      2010     10    6     9          -28      9992 2010-10-06
2      2010     10    6    10          -24      9987 2010-10-06
3      2010     10    6    11          -19      9987 2010-10-06
4      2010     10    6    12          -19      9985 2010-10-06
...     ...    ...  ...   ...          ...       ...        ...
33097  2014     12   30     9         -116      9896 2014-12-30
33098  2014     12   30    12         -103      9866 2014-12-30
33099  2014     12   30    15          -97      9826 2014-12-30
33100  2014     12   30    18          -93      9829 2014-12-30
33101  2014     12   30    21          -86      9804 2014-12-30

[33102 rows x 7 columns]

In [101]:
#google financial data

financedf = pandas.read_csv(r"assets/finance.csv", parse_dates = ["Date"])

financef = figure(plot_width=1000,plot_height=800, toolbar_location='below', x_axis_type = "datetime")
financef.line(financedf["Date"], financedf["Close"], color = "Orange", alpha = 0.5)

output_file("Timeseries.html")
show(financef)