In [107]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd

r = requests.get("https://www.century21.com/real-estate/washington-dc/LCDCWASHINGTON/") 

request_content = r.content
soup = BeautifulSoup(request_content, "html.parser")

In [47]:
all_properties = soup.find_all("div", {"class": re.compile("infinite-item property-card*")})

In [46]:
all_properties[0].find("a", {"class":"listing-price"}).text.replace("\n","").strip()

'$799,999'

In [100]:
properties_list = []

for prop in all_properties:
    d = {}
    d["Price"] = prop.find("a", {"class":"listing-price"}).text.replace("\n","").strip()
    d["Address"] = prop.find("div", {"class":"property-address-info"}).text.strip().replace("\n", "").replace("                        ",", ")
    
    try:    
        d["No. Beds"] = prop.find("div", {"class":"property-beds"}).find("strong").text.strip()
    except: 
        d["No. Beds"] = None
    
    try: 
        d["No. Baths"] = prop.find("div", {"class":"property-baths"}).find("strong").text.strip()
    except:
        d["No. Baths"] = None
    
    try:
        d["No. Half Baths"] = prop.find("div", {"class":"property-half-baths"}).find("strong").text.strip()
    except:
        d["No. Half Baths"] = None
    
    try: 
        d["Sqft"] = prop.find("div", {"class":"property-sqft"}).find("strong").text.strip()
    except:
        d["Sqft"] = "Not Available"
    
    properties_list.append(d)

In [108]:
propertiesdf = pd.DataFrame(properties_list)

In [110]:
propertiesdf.head(10)

,Price,Address,No. Beds,No. Baths,No. Half Baths,Sqft
0,"$799,999","139 P Street NW A, Washington DC 20001",2,2,1,"1,710"
1,"$2,750,000","3210 Volta Place NW, Washington DC 20007",3,3,2,"3,240"
2,"$1,799,000","13 4th Street NE, Washington DC 20002",4,3,1,"2,528"
3,"$1,695,000","1307 35th Street NW, Washington DC 20007",2,3,None,"2,340"
4,"$749,500","1901 Wyoming Avenue NW Unit 21, Washington DC ...",1,1,None,"1,200"
5,"$900,000","1012 Hamlin Street NE, Washington DC 20017",4,22,1,"1,683"
6,"$1,999,000","1155 23rd Street NW Unit PH3P, Washington DC 2...",2,2,1,"2,150"
7,"$1,599,000","3760 Benton Street NW, Washington DC 20007",4,4,1,"2,962"
8,"$945,000","1715 Kenyon Street NW Unit 1, Washington DC 20010",2,2,1,"1,900"
9,"$899,900","4204 3rd Street NW, Washington DC 20011",4,3,1,"2,052"